.ButtonBoy{
  color: #fdfdfd;
  background: #000000;
  height: 40px;
  position: relative;
  left: 647px;
  height: 150px;
  width: 200px;
}



  #Fricking_Profile{
    height: 50px;
    width: 65px;
    border-radius: 50%;
}

/* Colorful Background */
    body {
      margin: 0;
      width: 1000000%;
      height: 150000%;
      font-family: "Exo", sans-serif;
      color: #fff;
      background: linear-gradient(-146deg, #ff00005e, #1900ff5e, #00ff2259, #fbff0073);
      background-size: 1000% 1000%;
      animation: gradientBG 15s ease infinite;
    }
    
    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
#HeadyBoy{
  position: relative;
  left: 469px;
}    
