#Shutter{
  height:3%;
  width: 3%;
  position: sticky;
  left: 720px;
}

#Footy{
  background: rgba(211, 211, 211, 0.514);
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}




/* accordion colour */
.card > .card-header {
    background-color:#faa550;
}

.btn-link {
  color: #24211e;
  }

  .card-body{
    background: #83807d96
  }
a {
    color: black;
}
